
body{
        color:#453d3d;
        background-color:  #e6ffff ;
}

.container{
    margin-top:50px;
/*border:solid 2px red;*/

}

* {
    box-sizing: border-box;
}

h2{

}

a, a:hover, a:visited, a:active {
    text-decoration:none;
     color:#453d3d;
}

.flex-container{
    margin:auto;
    display: -webkit-flex;
    display:flex;
    max-width:800px;
    height:auto;
    background-color:lightgray;
      box-shadow: 3px 3px 5px #606060;
}

.flex-item{
    margin:10px;
    padding:10px;
    background: lightblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(lightblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightblue, white); /* Standard syntax (must be last) */
}



.item1{
    -webkit-flex:2;
    flex:2;
}

.item2{
    -webkit-flex:1;
    flex:1;
}

.item3{
    -webkit-flex:3;
    flex:3;
        height:500px;
}

.itemAll{
    -webkit-flex:1;
    flex:1;
text-align:center;
padding-top:30px;
}


.imgThumbnail{
    border:1px solid #ddd;
    border-radius:5px;
    padding:5px;
    width:250px;
    height:200px;
}

/*animation*/

.myAnimation.ng-enter,
.myAnimation.ng-leave {
  position: absolute;
}

.myAnimation.ng-enter {
  animation: 1s fade-in;
}

.myAnimation.ng-leave {
  animation: 1s fade-out;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}